:root {
    --beetroot-color: #6b0030;
    --white-color: #ffffff;
    --black-color: #000000;
    --green-color: #0d8600;
    --pink-color: #fca2be;
    --blue-color: #8ab6dd;
    --rosa-color: #fdedfd;
}

/* #F1B5F5 */


@font-face {
    font-family: 'libre baskerville';
    src: url('fonts/librebaskerville-regular-webfont.woff2') format('woff2'),
        url('fonts/librebaskerville-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'libre baskerville';
    src: url('fonts/librebaskerville-bold-webfont.woff2') format('woff2'),
        url('fonts/librebaskerville-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'libre baskerville';
    src: url('fonts/librebaskerville-italic-webfont.woff2') format('woff2'),
        url('fonts/librebaskerville-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'cooper hewitt';
    src: url('fonts/cooperhewitt-heavy-webfont.woff2') format('woff2'),
        url('fonts/cooperhewitt-heavy-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'cooper hewitt';
    src: url('fonts/cooperhewitt-light-webfont.woff2') format('woff2'),
        url('fonts/cooperhewitt-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'cooper hewitt';
    src: url('fonts/cooperhewitt-medium-webfont.woff2') format('woff2'),
        url('fonts/cooperhewitt-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'cooper hewitt';
    src: url('fonts/cooperhewitt-mediumitalic-webfont.woff2') format('woff2'),
        url('fonts/cooperhewitt-mediumitalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

body {
    font-family: "cooper hewitt", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    max-width: 1920px;
    margin: 0 auto;
    background-color: var(--beetroot-color);
    position: relative;
}

body.preload {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.preloader {
    content: "";
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-image: url('imgs/rolling_square_text.gif');
    background-repeat: no-repeat;
    background-color: #FFF;
    background-position: center;
    overflow: hidden;
    transition: opacity 0.4s;
    pointer-events: none;
}

body.preload .preloader {
    opacity: 1;
}

h1 {
    font-family: "cooper hewitt", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 30px;
}

h2 {
    font-family: "cooper hewitt", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
}

h3 {
    font-family: "cooper hewitt", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}

button:not(.navbar-toggler),
.button {
    font-family: "Libre Baskerville", serif;
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    margin-top: 10px;
    border: none;
}

.button:hover {
    text-decoration: none;
}

hr {
    height: 3px;
    background: linear-gradient(to right, rgba(13, 134, 0, 1) 0%, rgba(107, 0, 48, 1) 50%, rgba(255, 255, 255, 1) 100%);
}

.text-beetroot {
    color: var(--beetroot-color) !important;
}

.beetroot-text {
    color: var(--beetroot-color);
    font-family: "Libre Baskerville", serif;
}

.logo h1 {
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

#splash h1,
#splash h2 {
    color: #fff;
}

#splash h1,
#beet h1 {
    line-height: 1.8;
    letter-spacing: 1.2px;
    position: relative;
}

.beetroot-stamp {
    font-family: "Libre Baskerville", serif;
    font-style: italic;
    color: var(--beetroot-color);
    font-size: 18px;
    transform: translateX(50%) translateY(80%) rotate(-22deg);
    position: absolute;
    top: 0;
    right: 0;
}

.pink-text {
    color: var(--pink-color);
    white-space: nowrap;
}

nav,
#intro,
#thinking,
#categories,
#inspiration,
#beet,
#servings,
#social {
    background-color: var(--white-color);
    min-height: 50px;
}

#splash {
    background-color: var(--pink-color);
    min-height: 50px;
}

.splash-imgs {
    position: relative;
    margin-bottom: 22vw;
}

.splash-imgs::after {
    content: "";
    position: absolute;
    top: 0;
    left: 15px;
    width: calc(100% - 30px);
    height: 100%;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 90%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 90%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 90%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.cups-overlay {
    width: 60%;
    position: absolute;
    left: 50%;
    bottom: -30%;
    transform: translateX(-50%);
    z-index: 10;

}

#intro h2 {
    color: var(--beetroot-color);
}

#categories a:hover {
    text-decoration: none;
}

#categories .categories-win {
    background-color: var(--pink-color);
    min-height: 220px;
    box-shadow: 0px 6px 6px rgba(85, 85, 85, 0.49);
}

#categories .categories-win::after {
    content: "";
    position: absolute;
    /*border: 5px dashed var(--blue-color);*/
    border: 3px solid;
    border-image: linear-gradient(to right, rgba(13, 134, 0, 1) 0%, rgba(107, 0, 48, 1) 50%, rgba(255, 255, 255, 1) 100%) 1;
    top: 15px;
    left: 15px;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
}

#categories .categories-win h2 {
    font-size: 18px;
    color: var(--white-color);
}

#categories .categories-facts {
    background-color: var(--beetroot-color);
    border: 1px solid var(--black-color);
    min-height: 220px;
    box-shadow: 0px 6px 6px rgba(85, 85, 85, 0.49);
}

#categories .categories-facts h2 {
    color: var(--white-color);
    font-weight: 900;
    font-size: 32px;
}

#categories .categories-facts p {
    color: var(--white-color);
    font-size: 16px;
}

#categories .categories-event {
    border: 1px solid #000;
    background-color: var(--white-color);
    min-height: 220px;
    box-shadow: 0px 6px 6px rgba(85, 85, 85, 0.49);
}

#categories .categories-event h2 {
    color: var(--beetroot-color);
    font-weight: 900;
    font-size: 24px;
}

#categories .categories-event p {
    color: var(--beetroot-color);
    font-size: 14px;
    font-family: "Libre Baskerville", serif;
}

#categories a:hover {
    box-shadow: 0px 3px 3px rgba(85, 85, 85, 0.49);
}

#inspiration button,
#inspiration .button {
    background-color: var(--green-color);
    color: var(--white-color);

}

#inspiration h2,
#inspiration strong {
    color: var(--beetroot-color);
}

#beet h1 {
    color: var(--beetroot-color);
}

#contest2 {
    background-color: var(--blue-color);
    min-height: 50px;
}

#contest input,
#contest2 input,
footer input {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 1;
    margin-top: 10px;
    border: 1px solid var(--beetroot-color);
    color: var(--beetroot-color);
}

#contest button,
#contest2 button {
    background-color: var(--beetroot-color);
    color: var(--white-color);
}

#contest {
    background-color: var(--white-color);
    padding-top: 30vw;
    color: var(--white-color);
}

#contest .row {
    background-color: var(--blue-color);
    position: relative;
}

#contest .contest-text {
    margin-top: 50vw;
}

.your-design {
    position: absolute;
    width: 50vw;
    left: 50%;
    top: 0;
    transform: translateX(-50%) translateY(-35%);
}

#thinking h2 {
    color: var(--beetroot-color);
}

#thinking ul {
    list-style: none;
    padding-left: 80px;
    margin-bottom: 0;
}

#thinking .icon {
    margin-bottom: 20px;
    line-height: 45px;
    position: relative;
}

#thinking .icon:last-of-type {
    margin-bottom: 0;
}

#thinking .icon:before {
    content: "";
    position: absolute;
    width: 60px;
    height: 45px;
    left: -70px;
    background-size: contain;
    background-position: center center;
}

#thinking .icon.icon-cancer:before {
    background-image: url(imgs/cancer.png);
}

#thinking .icon.icon-oeko:before {
    background-image: url(imgs/oeko.png);
}

#thinking .icon.icon-fsc:before {
    background-image: url(imgs/fsc.png);
}

#thinking .icon.icon-flag:before {
    background-image: url(imgs/flag.png);
}

#facts {
    background: #85043f;
    /* Old browsers */
    background: -webkit-linear-gradient(bottom left, #85043f 0%, #3f031f 100%);
    /* FF3.6-15 */
    background: -o-linear-gradient(bottom left, #85043f 0%, #3f031f 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to top right, #85043f 0%, #3f031f 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#85043f', endColorstr='#3f031f', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    min-height: 50px;
    color: var(--white-color);
}

#facts .number {
    font-size: 300%;
}

#facts .carousel-inner {
    position: relative;
    width: 70%;
    overflow: hidden;
    margin: 30px auto 0;
    height: 300px;
}

#facts .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border-top: none;
    border-bottom: none;
}

#contest2 {
    color: var(--white-color);
}

#contest2 h3 {
    font-style: italic;
}

.img-border {
    border: 1px solid #707070;
}

#article {
    background-color: var(--white-color);
    color: var(--beetroot-color);
}

#article a {
    text-decoration: none;
    color: var(--beetroot-color):
}

#event {
    background-color: #fca2be;
    min-height: 50px;
}

#event button {
    background-color: var(--green-color);
    color: var(--white-color);
}

.hashtag {
    font-family: "Libre Baskerville", serif;
    font-style: italic;
    color: var(--pink-color);
}

footer {
    background-color: #fdedfd;
    background-color: var(--beetroot-color);
    min-height: 50px;
}

footer h2,
footer p {
    color: var(--white-color);
}

footer button {
    background-color: var(--pink-color);
    color: var(--black-color);
}

.social-icons img {
    width: 32px;
    margin-right: 16px;
}

.icon-arrow {
    width: 64px;
}

.animated.delay-6s {
    -webkit-animation-delay: 6s;
    animation-delay: 6s
}

@media screen and (min-width: 576px) {
    .splash-imgs {
        margin-bottom: 10vw;
    }

    .cups-overlay {
        left: 98%;
        bottom: -25%;
    }

    #contest {
        margin-top: 30vw;
        padding-top: 0;
        position: relative;
        background-color: var(--blue-color);
    }

    #contest:before {
        content: "";
        background-color: #fff;
        position: absolute;
        top: -30vw;
        left: 0;
        width: 100%;
        height: 30vw;
    }

    .navbar .social-icons img {
        margin-left: 16px;
        margin-top: 4px;
    }

    .navbar .social-icons a:last-of-type img {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (min-width: 768px) {
    body:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 15px;
        background-color: #fff;
        z-index: 100;
    }

    body:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 15px;
        background-color: #fff;
        z-index: 100;
    }

    .splash-imgs {
        margin-bottom: 5vw;
    }

    .cups-overlay {
        left: 98%;
        bottom: -10%;
    }

    .your-design {
        width: 380px;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    #contest {
        margin-top: 5vw;
        padding-top: 0;
        position: relative;
        background-color: var(--blue-color);
    }

    #contest:before {
        content: "";
        background-color: #fff;
        position: absolute;
        top: -5vw;
        left: 0;
        width: 100%;
        height: 5vw;
    }

    #contest .contest-text {
        margin-top: 0;
    }

    #thinking .icon {
        margin-bottom: 40px;
        line-height: 25px;
        position: relative;
    }
}

@media screen and (min-width: 992px) {
    .your-design {
        width: 320px;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    #thinking .icon {
        margin-bottom: 20px;
        line-height: 45px;
        position: relative;
    }
}
